.navbar {
  margin-bottom: 0; }

.navbar-brand .material-icons {
  vertical-align: bottom;
  line-height: 21px; }

.map {
  height: 100vh; }

.controls {
  height: 100vh;
  padding-right: 30px;
  padding-top: 30px; }
